section.forgot-password-container {
  height: 100%;
  .forgot-password-form {
    // forgot-password form
    width: 25%;
    height: 45vh;
    padding: 2rem;
    label {
      font-size: 20px;
    }
    // Footer
    .forgot-password-footer-area {
      margin-top: 45px;
      button.forgot-password-button {
        background-color: #006b7b;
        color: white;
      }
    }
  }
}
