<section class="forgot-password-container d-flex w-100 align-items-center justify-content-center">
  <form class="forgot-password-form d-flex flex-column position-relative form-container" [formGroup]="fpForm">
    <div class="forgot-password-title-area d-flex align-items-center flex-column">
      <img src="../../../assets/images/logo.png" alt="Intage logo" />
      <div class="forgot-password-title text-center form-title">{{ TITLE }}</div>
    </div>
    <div class="forgot-password-body-area mt-3">
      <mat-form-field class="w-100 custom-mat-form-field">
        <label for="email">Email Address</label>
        <input matInput type="email" id="email" class="w-100 form-control" formControlName="email" />
        <mat-error>{{ fpForm.controls.email.errors?.message }}</mat-error>
      </mat-form-field>
    </div>
    <div class="forgot-password-footer-area d-flex justify-content-center flex-wrap">
      <button class="forgot-password-button btn btn-lg w-100 mb-3 form-submit-button" (click)="onReset()">Reset</button>
    </div>
  </form>
</section>
