@import '../../../../../assets/scss/mixin';

#wrap-control-bar-dashboard-video {
  background-color: $color-grey;
  padding: 0px;
  color: white;
  line-height: 50px;
  max-height: 50px;

  #wrap-dashboard-control {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-height: 40px;
  }

  #wrap-play-back-speed {
    position: absolute;
    right: 11.3%;
    display: flex;
    align-items: center;
    max-height: 40px;
    .title {
      @include size12;
      color: $color-border1;
    }

    .wrap-add-sub-speed {
      display: flex;
      align-items: center;
      width: 159px;
      .speed-view{
        color: $color-yellow;
        display: inline-block;
        width: 55px;
        text-align: center;
        font-size: medium;
      }
      .icon {
        font-size: 17px;
        width: 17px;
        height: 17px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  #wrap-play-time{
    position: absolute;
    // left: 322px;
    left: 19%;
    font-size: medium;
    margin-top: -4px;
    max-height: 40px;
    .time-view {
      color: $color-yellow;
      &.speed-view {
        text-align: center;
      }
    }
  }
}

::ng-deep .mat-slider-thumb-label {
  background-color: transparent;
}


.controll-icon {
  margin: 0px 10px !important;
  line-height: unset;

  &:hover {
    cursor: pointer;
  }
}

.controll-buttons mat-icon {
  font-size: 200%;
  &.icon-reply-forward {
    font-size: 160%;
    margin-right: 0.8px !important;
  }
}

.controll-area {
  width: calc(50% + 100px + 0.5rem);
}

.timer-area {
  margin-top: 8px;
  mat-icon:hover {
    cursor: pointer;
  }
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #e58e1d;
  height: 100%;
}

.mat-accent .mat-slider-thumb {
  // height: 30px;
  // width: 30px;
  background-color: #e58e1d !important;
  // border: solid 2px gray;
  bottom: -14px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

#btnStartNewScene{
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
}
#btnSaveNewScene{
  position: absolute;
  margin-top: 4px !important;
  margin-left: 46px !important;
}
#btnDeleteSceneBar{
  position: absolute;
  margin-top: 4px !important;
  margin-left: 93px !important;
}


#wrap-media-control{
  position: absolute;
  margin-top: -4px;
  max-height: 40px;
}

// Slider scaling new scene bar
.wrap-btn-scaling-time {
  position: absolute;
  background-color: #504545;
  border-radius: 6px;
  left:3px;
  height: 30px;
  width: 40px;
  margin-top: 4px;


  .icon {
    margin:0px 10px 0px 10px !important;
  }

  .control-icon{
    &:hover{
      cursor: pointer;
      color: #ffc107;
    }
  }

  .enable-icon {
    color: white;
    cursor: pointer;

    &:hover {
      color: #ffc107;
    }
  }

  .disable-icon {
    color: grey;
    cursor: default;
  }
  // End Slider scaling new scene bar
}

.ellipse-button {
	width: 18px;
	height: 18px;
	font-size: 0;
	border-radius: 35px;
	margin-top: 3px;
	outline: none;
}

.notRec{
  border: 3px solid #746e6e;
  cursor:default !important;
	background-color: darkred;
}

.Rec{
  border: 3px solid white;
  cursor: pointer !important;
	background-color: red;
}

.Recording{
  width: 18px;
	height: 18px;
  border: 1px solid white;
  // margin-top: 13px !important;
	background-color: red;
  border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(240, 49, 49, 0.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(240, 49, 49,0.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(240, 49, 49,0);
	}
}
