// Color
$button-login-color: #006b7b;
$title-login-color: #707070;
$color-black-dark: #181818;
$color-black: #000000;
$color-black1: #292929;
$color-white: #FFFFFF;
$color-border: #E5E5E5;
$color-yellow: #FABE00;
$color-border1: #C2C2C2;
$color-grey: #5C5C5C;
$color-grey_1: #F9F9F9;
$color-item-chosen: #FFE8C2;
$color-item-text-chosen: #F39800;
$color-yellow_1:#fff2c7;
$color-yellow_2:#ffd961;
$color-yellow_3: #FFC25C;
$color-green: #01d13b;


// Font size
$title-login-fontsize: 40px;
