@import '../../../../../assets/scss/common';

.update-confirm-container {
  table thead {
    background-color: $color-black1;
    margin-bottom: 0px;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  table tbody {
  div.wrapper-sub-td {
    td {
      padding: 0 0 6px 0;
    }
    margin-bottom: -6px!important;
  }

    &:before {
      content: "-";
      display: block;
      line-height: 3px;
      color: transparent;
      background-color: white;
    }

    background-color: $color-yellow_1;
    display: block;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tr td {
      border: none;
      max-width: 88px;
      overflow: hidden;
    }

    tr:nth-child(even) {
      background-color: $color-yellow_2;
    }
  }

  td:nth-child(1), th:nth-child(1), td:nth-child(2), th:nth-child(2) {
    width: 16%;
  }

  td:nth-child(3), th:nth-child(3), td:nth-child(4), th:nth-child(4) {
    width: 34%;
  }

  background-color: $color-white;

  .mat-dialog-actions {
    margin-bottom: -20px;
    padding: 0;
  }

  .dialog-title {
    @include sizeTitleModal;
    //border-bottom: 1px solid $color-border1;
  }

  .dialog__header {
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
  }

  .table-file-container {
    .update-confirm-content {
      margin-top: 0.7rem;
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #8e8e8e;
      }

      .width-custom-10 {
        width: 10%;
      }
      .width-custom-15 {
        width: 15%;
      }
      .width-custom-30 {
        width: 30%;
      }
      .width-custom-45 {
        width: 45%;
      }
      .width-custom-30 {
        width: 30%;
      }

      .update-confirm-body {
        .update-confirm-table-row {
          display: flex;
          justify-content: left;
          padding-right: 3rem;
          span {
            font-style: normal;
            font-size: 14px;
            line-height: 15px;
          }
          .title-text {
            color: #5c5c5c;
            font-weight: bold;
          }
        }
      }
    }

    hr {
      border: 1px solid #e5e5e5;
      position: initial;
      left: 55%;
      width: 95.5vw;
      top: 157px;
      background-color: #e5d5d5;
      transform: translateX(-1.2%);
      margin-top: 0.5rem !important;
      margin-bottom: 0.2rem !important;
    }
  }

  .alias-item {
    background-color: transparent !important;
  }
}

//
.mat-dialog-content.dialog__body {
  margin: 0px 0px 10px 0px !important;
  max-height: calc(95vh - 112px) !important;
  padding: 0 !important;
}

.update-confirm__body {
  padding: 0 2rem 20px 2rem;
  overflow: hidden;
}
//
.control button {
  background-color: #3f51b5;
}
.w-15 {
  width: 15% !important;
}
.upload-video-footer {
  border-top: none;
  margin: 0px !important;
  padding: 0 0 20px 0;
  button {
    @include  buttonModal;

    &.btn-primary {
      background-color: $color-yellow;
    }
    &.btn-secondary {
      background-color: $color-white;
    }
  }
}

.upload-header button {
  font-weight: bold;
}

.dropdown option {
  background: #f3f3f3;
  font-weight: bold;
}
.bg-transparent {
  background: transparent !important;
}
.folder-input {
  padding: 0 !important;
  margin-right: 0 !important;
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  height: 34px;
}

.upload-header {
  padding: 0;
  padding-bottom: 5px;
}

.upload img {
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.no-data {
  color: #afafaf;
  font-size: 30px;
}

.close-button {
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.upload button {
  font-weight: bold;
  border-top-left-radius: 0;
}

.body-midle {
  margin-bottom: 25px;
}

.body-xml {
  margin-bottom: 25px;
}

.body-img {
  padding: 0 30px;
}

.btn-upload {
  background-color: #c4c4c4;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 5px 0px #6f6869;
  width: 137px;
  cursor: pointer;
  height: 33px;
}

.body-midle-header {
  font-size: 1rem;
  margin-bottom: 10px;
}

.body-midle-footer {
  font-size: 1rem;
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.img-custom {
  height: 60px;
  width: auto;
}
.video-action {
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.scroll-xml {
  overflow-y: auto;
  height: calc(100% - 43px);
}
.area-border {
  border: 1px solid black !important;
  height: 16rem;

  border-radius: 3px;
  background-color: #f2f2f2 !important;
}

.modal-title {
  font-size: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 342px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px 0px #6f6869;
}

.body-header input {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
}

.project-item.active {
  background-color: #dedede !important;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.custom-mat-form-field .mat-form-field-flex {
  :focus {
    background-color: whitesmoke !important;
    border: 1px solid black;
    box-shadow: none;
  }
}
.icon-trash {
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  background-image: url('../../../../../assets/images/bin.png');
}
.icon-download {
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  background-image: url('../../../../../assets/images/download.png');
}
.w-equal {
  width: 97px !important;
}

.no-select,
.no-select * {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(0, 0, 0);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 0, 0);
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  opacity: 0.7;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: black;
}

.mat-form-field-appearance-outline {
  .mat-form-field-appearance-outline,
  .mat-form-field-flex {
    padding: 0px !important;
  }
  .mat-form-field-outline.mat-form-field-outline-thick {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-width: 1px !important;
    }
  }
  .mat-form-field-infix,
  .mat-form-field-subscript-wrapper {
    padding: 0 !important;
    select.mat-input-element,
    input.mat-input-element {
      padding: 0 0 0.6em 0.6em !important;
      margin: 0 !important;
      top: unset;
    }
  }
}

.popup-detail-width-form-field {
  width: 95%;
}

@media screen and (max-width: 1600px) {
  .update-confirm__body,
  .mat-dialog-actions {
    padding: 0px 20px 20px 20px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
