@import '../../../../../assets/scss/common';

#cut-box-area {
  video {
    height: 462px !important;
    margin-top: -5vh;
  }

  vg-controls {
    z-index: 100;
  }
  
  .wrap-current-time {
    @include size16;
    font-size: 14px;
    line-height: 2;
    color: $color-white;
    text-align: center;
    width: 70%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 0;

    .wrap-time-start {
      display: inline-block;
      color: $color-border1;


      .text {
        background-color: $color-grey_1;
        width: 100px;
        color: $color-black;
        border-radius: 5px;
        padding: 4px 13px;
        margin-left: 7px;
      }
    }

    .time {
      display: inline-block;
      .current {
        font-weight: bold;
        color: $color_grey_1;
      }
    }
    .time-mobile {
      padding-left: 0;
    }

    padding-bottom: 42px;
  }
  vg-controls vg-scrub-bar {
    margin: 30px 0 0 0 !important;
    height: 10px;

  }

  .vg-overlay-play {
    z-index: 100;
  }

  .custom-control {
    top: 0;
    position: absolute;
    background-color: transparent;
  }
}
