@import '../../../../../assets/scss/mixin';
.addproject-container {
  background-color: $color-white;
  .dialog-title {
    @include sizeTitleModal;
    border-bottom: 1px solid $color-border1;
  }

  .dialog-content {
    margin: 0 !important;
    padding: 0 !important;

    .dialog-row {
      padding-bottom: 20px;
    }

    .dialog-label {
      label, span {
        font-size: 14px;
        line-height: 15px;
        color: $color-grey;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
    textarea {
      height: 110px;
    }

    .dialog-input {
      input, textarea {
        background: white !important;
        border: 1px solid $color-border1 !important;
        box-sizing: border-box;
        border-radius: 8px;
        color: $color-black1;
        &:focus {
          box-shadow: unset !important;
        }
      }

      input {
        height: 40px;

        &.input-thumbnail {
          height: 0;
          width: 0;
          padding: 0 !important;
          border: 0 !important;
          display: none !important;
        }
      }
      
      textarea {
        height: 96px;
      }
    }
  }

  .upload-thumbnail {
    margin-left: 0;
    max-width: 368px;
    max-height: 89px;
    background-color: #FFF2C7;
    border: 1px dashed #FABE00;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    height: 89px;
    button {
      background-color: #FFF2C7;
      width: 100% !important;
      height: 100% !important;
    }
  }

  .dialog-controlls {
    margin: 0px !important;
    padding: 10px 0 0 0;
    button {
      @include buttonModal;
      &.btn--primary {
        background-color: $color-yellow;
      }
      &.btn--tertiary {
        background-color: $color-white;
      }
    }

    .changepass-dialog-controlls {
      margin: 0px !important;
      
      button {
        @include buttonModal;
  
        &.btn--primary {
          background-color: $color-yellow;
        }
        &.btn--tertiary {
          background-color: $color-white;
        }
      }
    }
  }
  mat-error {
    font-size: 0.8em;
  }

  .label-thumbnail {
    margin-top: 0.3rem;
  }

  .image-area {
    width: 96%;
  }

  .project-thumbnail {
    width: 100%;
    height: 89px;
  }
  button.button-remove-thumbnail {
    top: -14px;
    right: -14px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    & * {
      line-height: 24px;
    }
    mat-icon {
      font-size: 120%;
    }
  }
}
