<div class="user-group-list">
  <!-- Table user group list -->
  <div class="table-group">
    <div class="d-flex justify-content-between">
      <div class="title">
        <strong><span class="title-group-list fs-24-px"> User Group List</span> </strong>
      </div>
      <div class="control-buttons d-flex align-items-center justify-content-between">
        <div class="form-group d-flex align-items-center justify-content-start text-muted">
          <input
            class="search-input input-group-text"
            #inputSearch
            placeholder="Type here to search for user group"
            (keyup.enter)="keySearch = inputSearch.value"
          />
          <button
            type="button"
            class="btn btn-primary btn-primary-unfocus btn-custom"
            (click)="keySearch = inputSearch.value"
            matRipple
          >
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </button>
        </div>
        <div class="form-group">
          <button *ngIf="isRoleAdmin" type="button" class="btn btn-add" (click)="openPopupUserGroup()" matRipple>
            <img src="../../../../../assets/icons/add_user.svg" alt="add user group"/>
            Add User Group
          </button>
        </div>
      </div>
    </div>

    <div class="border table-borderless border-dark clearfix system-usergroup-list">
      <div
        class="no-data d-flex align-items-center justify-content-center"
        *ngIf="!this.userGroupList || this.userGroupList.length === 0"
      >
        <h1>No availble data in table</h1>
      </div>
      <app-table
        *ngIf="this.userGroupList && this.userGroupList.length > 0"
        [tableConfig]="tableConfig"
        [cols]="this.cols"
        [(data)]="this.userGroupList"
        (selectedItem)="handleSelectItem($event)"
        (saveEdit)="handleSaveEdit($event)"
        (delete)="handleDeleteItem($event)"
        (editClick)="handlEditClick($event)"
        [keySearch]="keySearch"
        [isShowBtnEdit]="isRoleAdmin"
        [isShowBtnDelete]="isRoleAdmin"
        [countPagination]="10"
      >
      </app-table>
    </div>
  </div>
</div>

