<div class="change-password-container">
  <h2 mat-dialog-title class="dialog-title">
    Change Password
  </h2>
  <div mat-dialog-content class="changepass-dialog-content py-2" [formGroup]="changePassForm">
    <div class="row dialog-row m-0 mb-2 custom-mat-form-field">
      <div class="col-12 p-0 dialog-label">
        <label for="currentPass">Current Password:</label>
        <span>*</span>
      </div>
      <div class="col-12 p-0 dialog-input">
        <div>
          <input matInput [type]="customPassword('oldPass')" id="currentPass" class="form-control" formControlName="oldPass" />
          <img
            [src]="customPassword('oldPass') === 'text' ? '../../../../assets/icons/eye.svg' : '../../../../assets/icons/eye-active.svg'"
            alt="icon eye"
            (click)="eyeClick('oldPass')"
          />
        </div>
        <mat-error *ngIf="changePassForm.get('oldPass').dirty || changePassForm.get('oldPass').touched">{{
          changePassForm.controls.oldPass.errors?.message
        }}</mat-error>
      </div>
    </div>
    <div class="row dialog-row m-0 mb-2 custom-mat-form-field">
      <div class="col-12 p-0 dialog-label">
        <label for="newPass">New Password:</label>
        <span>*</span>
      </div>
      <div class="col-12 p-0 dialog-input dialog-label">
        <div>
          <input matInput [type]="customPassword('newPass')" id="newPass" class="form-control" formControlName="newPass" />
          <img
            [src]="customPassword('newPass') === 'text' ? '../../../../assets/icons/eye.svg' : '../../../../assets/icons/eye-active.svg'"
            alt="icon eye"
            (click)="eyeClick('newPass')"
          />
        </div>
        <mat-error *ngIf="changePassForm.get('newPass').dirty || changePassForm.get('newPass').touched">{{
          changePassForm.controls.newPass.errors?.message
        }}</mat-error>
      </div>
    </div>
    <div class="row dialog-row m-0 mb-2 custom-mat-form-field">
      <div class="col-12 p-0 dialog-label">
        <label for="confirmPass">Confirm Password:</label>
        <span>*</span>
      </div>
      <div class="col-12 p-0 dialog-input">
        <div>
          <input matInput [type]="customPassword('confirmPass')" id="confirmPass" class="form-control" formControlName="confirmPass" />
          <img
            [src]="customPassword('confirmPass') === 'text' ? '../../../../assets/icons/eye.svg' : '../../../../assets/icons/eye-active.svg'"
            alt="icon eye"
            (click)="eyeClick('confirmPass')"
          />
        </div>
        <mat-error *ngIf="changePassForm.get('confirmPass').dirty || changePassForm.get('confirmPass').touched">{{
          changePassForm.controls.confirmPass.errors?.message
        }}</mat-error>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between align-items-center changepass-dialog-controlls">
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button class="btn btn--tertiary w-equal" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-button class="btn btn--primary w-equal" (click)="onSaveClick()" [disabled]="changePassForm.invalid">
      Save
    </button>
  </div>
</div>
