@import '../../../../assets/scss/mixin';

.change-password-container {
  .dialog-title {
    @include sizeTitleModal;
    border-bottom: 1px solid $color-border1;
  }

  .changepass-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;

    .mb-2 {
      margin-bottom: 20px !important;
    }

    .dialog-label {
      label, span {
        font-size: 14px;
        line-height: 15px;
        color: $color-grey;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .dialog-input {
      > div {
        position: relative;

        img {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          z-index: 9;
          width: 16px;
        }
      }
      input {
        background: #FDFDFD !important;
        border: 1px solid $color-border1 !important;
        box-sizing: border-box;
        border-radius: 8px;
        height: 40px;
        color: $color-black1;
        &:focus {
          box-shadow: unset !important;
        }
      }
    }
  }

  .changepass-dialog-controlls {
    margin: 0px !important;
    
    button {
      @include buttonModal;

      &.btn--primary {
        background-color: $color-yellow;
      }
      &.btn--tertiary {
        background-color: $color-white;
      }
    }
  }
  mat-error {
    font-size: 0.8em;
  }
}

::ng-deep .change-password-dialog-class {
  .video-detail-modal-body, .mat-dialog-actions {
    padding: 0;
  }
}